<ul id="header">
  <li style="display: inline-block;"><a href="/" style="font-family:Canela-Light;font-weight:100;text-decoration:none;"  data-remote="true">DEAD BUT COOL</a></li>

  <div id="deskmenu" >
    <li><%= link_to "WORKS", works_path,   remote: true %></li>
    <li><%= link_to "INFO", info_path,  remote: true, id: "info" %></li>
    <li><%= link_to "CONTACT", contact_path,  remote: true, id: "contact" %></li>
    
  </div>
 <li>
   <li id="menu" class="openbtn">MENU</li>
   
   
   
</ul>







<div id="myNav" class="overlay">
  
  
  <div class="overlay-content">
     <%= link_to "WORKS", works_path,  remote: true %>
     <%= link_to "INFO", info_path,  remote: true, id: "info" %>
     <%= link_to "CONTACT", contact_path,  remote: true, id: "contact" %>
    
  </div>

  <div class="social" style="white-space: nowrap;display: inline-block;">
   <p> <span class="youtube"> YOUTUBE</span><span class="facebook"> FACEBOOK </span><span class="soundcloud">SOUNDCLOUD</span></p>

  </div>
</div>



