<br>

<span class="marquee">TEST TEST TEST [ENTER FULLSCREEN]</span>

<div>
  <div class="leftcontrol" style="float:left;">

      <%=   link_to (image_tag("icon-previous-mobile.png", id: 'control-img', class: 'control', :style => "float:right;")), remote: true  %>
   </div>
      
  <div class="rightcontrol" style="float:right;">
        
  <!--  <%=   link_to (image_tag("icon-next-mobile.png", id: 'control-img', class: 'control', :style => "float:right;")), remote: true  %>-->

  </div>
</div>

<div id="fullscreenvideo">
<div class="top">
  <div class="wrapper">
    <iframe src="https://player.vimeo.com/video/4324232>?title=0&byline=0&portrait=0&transparent=0&autoplay=1" width="640" height="480" frameborder="0" title="Funny Cat Videos For Kids" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
  </div>
</div>

  </div>
<%= render partial: 'projects/project', locals: { project: Project.last } %>
<%= render partial: 'projects/project', locals: { project: Project.last.next } %>
</div>



/////////////////////
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>

  <h1 style="
	font-family: Favorit, sans-serif;
	font-size: 34px;
	font-weight:300;
	line-height: 1.06;
	letter-spacing: -0.2px;
	text-align: left;">Credits: 
Producer:  Alex Murphy
Production:  John Smith
Mixing:  Steve Scooba
Mastering: 
Marsie Darthsmooth
</h1>

<div class="player">
	<div class="leftcontrol" style="float:left;">
		<%= link_to "PREVIOUS PROJECT", @project.prev %>

<%= image_tag("icon-previous-mobile.png") %>X
	</div>
	<div class="rightcontrol" style="float:right;">
<%= link_to "NEXT PROJECT", @project.next %>
<%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
</div>
</div>



class Project < ApplicationRecord


	def next
    	Project.where("id > ?", id).order(id: :asc).limit(1).first
	end

	def prev
	     Project.where("id < ?", id).order(id: :desc).limit(1).first
	end

	def to_param
		slug
	end
end


, param: :slug



$('img').click(function()
{
     $('img').not(this, "#header").each(function()
     {
         $(this).animate({opacity: 0}, 1500);
     });
     $(this).delay( 1500 ).fadeOut(2000).$('.container').load($(this).attr('href'));
      //load html from the url and put it in the #content element
    event.preventDefault(); // 
    
})


<header>

  <h2 id="navleft" style="display:inline-block;margin-right:10px;font-family:Canela;font-weight: 300;">DEAD BUT COOL</h2>


<div class="menu" style="float:right;display:inline-block;font-family:Canela;">
    <h1 style="font-size:30px;cursor:pointer" onclick="openNav()" style="display:inline-block;margin-right:10px;font-family:Favorit;">MENU</h1>
  </div>

  <div id="navright" style="float:right;display:inline-block;font-family:Canela;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela;">CONTACT</a>
  </div>

</header>





<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:25px;">CLOSE</a>
  <div class="overlay-content">
    <a style="font-size:50px;" href="/works">WORKS</a>
    <a style="font-size:50px;" href="/info">INFO</a>
    <a style="font-size:50px;" href="/contact">CONTACT</a>
 
  <p id="social" style="font-color:red;text-align: center;margin-left:-10%!important;margin-top:40%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>




<script>
function openNav() {
    document.getElementById("myNav").style.display = "block";
}

function closeNav() {
    document.getElementById("myNav").style.display = "none";
}
</script>


 <div id="navright" style="float:right;display:inline-block;font-family:Canela-Light;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">CONTACT</a>
  </div>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:25px;">CLOSE</a>
  <div class="overlay-content">
    <a style="font-size:50px;" href="/works">WORKS</a>
    <a style="font-size:50px;" href="/info">INFO</a>
    <a style="font-size:50px;" href="/contact">CONTACT</a>
 
  <p id="social" style="font-color:red;text-align: center;margin-left:-10%!important;margin-top:40%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>



<br>
<div id="made-in-ny"></div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var options = {
        id: 59777392,
        width: 640,
        loop: true
    };

    var player = new Vimeo.Player('made-in-ny', options);

    player.setVolume(0);

    player.on('play', function() {
        console.log('played the video!');
    });
</script>



<div class="leftcontrol" style="float:left;">
    <%= image_tag("icon-previous-mobile.png") %>X
  </div>
<div>
  
</div>
  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
  </div>
</div>


$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( "container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});




$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( "container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});


$('img').click(function()
{
     $('img').not(this, "#header").each(function()
     {
         $(this).animate({opacity: 0}, 1500);
     });
     $(this).delay( 1500 ).fadeOut(2000).$('.container').load($(this).attr('href'));
      //load html from the url and put it in the #content element
    event.preventDefault(); // 
    
})


var url = window.location.href;

// Will only work if string in href matches with location
$('.menu a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.menu a').filter(function() {
    return this.href == url;
}).addClass('better-active');




$(document).ready(function() {
   //$('#my-link').click(function(event){
  //   alert('Hooray!');
$("#my-link").click(function (event) {
    var urlid = this.id;
    alert(urlid);
     event.preventDefault(); // Prevent link from following its href
  });
});

$("#my-link").click(function (event) {
    var urlid = this.url;
    load(url);
});


$(document).ready(function(){
  $('a').on('click', function(e){
    $(this).animate({opacity: 0}, 1500);
    e.preventDefault();
    $('body').load($(this).attr('href'));
  });
});


$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( ".container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});


<script>
.player {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  grid-gap: 10px;
  margin: 0;
}
</script>
$(document).ready(function(){
  $('a').on('click', 1000, function(e){
    $(this).animate({opacity: 0}, 1500);
    e.preventDefault();
    $('body').load($(this).attr('href'));
  });
   $.ajax({
        async: true,
            // make a get request to the server
            type: 'GET',
            // get the url from the href attribute of our link
            url: $(this).attr('href'),
            // send the last id to our rails app
          
            // the response will be a script
            dataType: 'script',

            // upon success 
            success: function () {
                // hide the loading gif
                $('.loading-gif').hide();
                // show our load more link
                $('.load-more').show();
            }
        });

});
$.ajaxPrefilter(function( options, originalOptions, jqXHR ) { options.async = true; });




<%= @contact[:gen_email] %><%= @contact[:business_email]%><%= @contact[:phone]%><%= @contact[:phone]%>





<div style="display: block;">
  <div class="leftcontrol" style="float:left;">
      <%= image_tag("icon-previous-mobile.png", :style => 'float:left;width:150px;height:auto;') %>
    <%= link_to 'PREVIOUS', remote: true %>
  </div>

  <!--<div class="centercontrol" style=" display: flex;
    flex-wrap: wrap;align-content:center;">
      <%= image_tag("icon-pause-mobile.png", :style => 'width:150px;height:auto;') %>
    
  </div>-->

  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;width:150px;height:auto;") %>
     <%= link_to 'NEXT', id: 'my-link', remote: true %>
  </div>
</div>




<div style="display: block;">
  <div class="leftcontrol" style="float:left;">
      <%= image_tag("icon-previous-mobile.png", :style => 'float:left;max-width:150px;') %>
    <%= link_to @project.previous.title, @project.previous, remote: true %>
  </div>

  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;max-width:150px;") %>
     <%= link_to @project.next.title, @project.next, id: 'my-link', remote: true %>
  </div>
</div>


)))))))))))))))))))))))))




<p class="marquee"><span>SOUNDTRACK FOR FENDI X POKRAS LAM...</span></p>


<!-- VIDEO CONTROLS -->

<!--<div style="display: block;padding:10px;">
  <div class="leftcontrol" style="float:left;">

      <%=   link_to (image_tag("icon-previous-mobile.png", id: 'control-img', class: 'control', :style => "float:right;")), project_url(@project.previous), remote: true  %>

  </div>-->

  <!--<div class="centercontrol" style=" display: flex;
    flex-wrap: wrap;align-content:center;">
      <%= image_tag("icon-pause-mobile.png", :style => 'width:150px;height:auto;') %>
    
  </div>-->

 <!-- <div class="rightcontrol" style="float:right;">
        
    <%=   link_to (image_tag("icon-next-mobile.png", id: 'control-img', class: 'control', :style => "float:right;")), project_url(@project.next), remote: true  %>
  </div>
</div>

<div id="made-in-ny"></div>
</div>-->



<!-- <script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var options = {
        id: 247152884,
        width: 640,
        loop: true,
        autoplay: true,
        background: false
    };

    var player = new Vimeo.Player('made-in-ny', options);

    player.setVolume(0);

   

    player.on('play', function() {
        console.log('played the video!');
    });

    player.getVideoTitle().then(function(title) {
        console.log('title:', title);
        console.autoplay('autoplay:', autoplay);

        document.getElementsByTagName('span')[0].innerHTML = title;
    });

  // color was successfully set
    player.setColor('#ffffff').then(function(color) {
    
  }).catch(function(error) {
      switch (error.name) {
          case 'ContrastError':
              // the color was set, but the contrast is outside of the acceptable
              // range
              break;

          case 'TypeError':
              // the string was not a valid hex or rgb color
              break;

          case 'EmbedSettingsError':
              // the owner of the video has chosen to use a specific color
              break;

          default:
              // some other error occurred
              break;
      }
  });

  
  player.getVolume().then(function(volume) {
      volume = 22;
  }).catch(function(error) {
      // an error occurred
  });
</script> -->

require 'open-uri'

url                      = "http://www.vimeo.com/7592893"
vimeo_video_id           = url.scan(/vimeo.com\/(\d+)\/?/).flatten.to_s               # extract the video id
vimeo_video_json_url     = "http://vimeo.com/api/v2/video/%s.json" % vimeo_video_id   # API call

# Parse the JSON and extract the thumbnail_large url
thumbnail_image_location = JSON.parse(open(vimeo_video_json_url).read).first['thumbnail_large'] rescue nil


def vimeo_id(url)
  match = url.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)
  match[:id] if match.present?
end



function openNav() {
    document.getElementById("myNav").style.display = "block";
}

function closeNav() {
    document.getElementById("myNav").style.display = "none";
}






//VIEW PROJECT CASE 

//$(document).ready(function(){
 //   $(document).ajaxSend(function(event, request, settings) {
  //      $('#loading-indicator').show();
  //  });
//
   // $(document).ajaxComplete(function(event, request, settings) {
   //     $('#loading-indicator').hide();
  //  });
//});

 $(document).on('click', 'a', function(e) {
    history.pushState({}, '', $(this).attr('href'));
   
   
  });

  $(window).bind('popstate', function () {
    //return confirm("ONPOPSTATE");
    $.get(document.location.href)

  });



  function historySupport() {
  return !!(window.history && window.history.pushState !== undefined);
}

function pushPageState(state, title, href) {
  if (historySupport()) {
    history.pushState(state, title, href);
  }
}

function replacePageState(state, title, href) {
  if (state == undefined) { state = null; }
  
  if (historySupport()) {
    history.replaceState(state, title, href);
  }
}

$(function() {
  window.onpopstate = function(e) {
    if ($('body').attr('data-state-href') === location.href) {
      
      
      return false;
    }
    
    if (e.state !== null) {
      // do something with your state object
    }
    
    $.ajax({
     beforeSend:function(){
     //return confirm("Are you sure?");
},
      url: location.href,
      dataType: 'script',
      success: function(data, status, xhr) {
       
      },
      error: function(xhr, status, error) {
        // You may want to do something else depending on the stored state
        alert('Failed to load ' + location.href);
      },
      complete: function(xhr, status) {
        $('body').attr('data-state-href', location.href);
        
      }
    });
  };
  
  
  var getA = 'a[data-remote][data-method!="get"][data-method!="post"][data-method!="delete"]'
    , getForm = 'form[data-remote][method="get"]';
  
  function getState(el) {
    // insert your own code here to extract a relevant state object from an <a> or <form> tag
    // for example, if you rely on any other custom "data-" attributes to determine the link behaviour
    return {};
  };
  
  $('body').attr('data-state-href', location.href);
  
  $(getA).
    live('ajax:beforeSend', function(xhr) {
      pushPageState(getState(this), "Loading...", this.href);
      window.title = "Loading...";
    });

  $(getForm).
    live('ajax:beforeSend', function(xhr) {
      var href = $(this).attr("action") + "?" + $(this).serialize();
      
      pushPageState(getState(this), 'Loading...', href);
      window.title = "Loading...";
    });
    
  $(getA + ',' + getForm).
    live('ajax:complete', function(xhr) {
      $('body').attr('data-state-href', location.href);
      replacePageState(getState(this), window.title, location.href);
    });
});



<!-- <script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var options = {
        id: 247152884,
        width: 640,
        loop: true,
        autoplay: true,
        background: false
    };

    var player = new Vimeo.Player('made-in-ny', options);

    player.setVolume(0);

   

    player.on('play', function() {
        console.log('played the video!');
    });

    player.getVideoTitle().then(function(title) {
        console.log('title:', title);
        console.autoplay('autoplay:', autoplay);

        document.getElementsByTagName('span')[0].innerHTML = title;
    });

  // color was successfully set
    player.setColor('#ffffff').then(function(color) {
    
  }).catch(function(error) {
      switch (error.name) {
          case 'ContrastError':
              // the color was set, but the contrast is outside of the acceptable
              // range
              break;

          case 'TypeError':
              // the string was not a valid hex or rgb color
              break;

          case 'EmbedSettingsError':
              // the owner of the video has chosen to use a specific color
              break;

          default:
              // some other error occurred
              break;
      }
  });

  
  player.getVolume().then(function(volume) {
      volume = 22;
  }).catch(function(error) {
      // an error occurred
  });
</script> -->




<!--<div class="img_wrap" style=" display:flex;
  flex-wrap:wrap;margin-top:50px;" >
     <%= image_tag project.image, class: 'home_img', style: ''  %>
      <%= project.title  %>
    <%= project.next.title  %>
</div>-->


      <div class="imgcontent" id="grid">
        
      
      
            <% @projects.each do |project| %>

        <p class="marquee"><span><%= project.previous.title  %> [ENTER FULLSCREEN] <%= project.title  %>  [ENTER FULLSCREEN] <%= project.next.title  %> [ENTER FULLSCREEN]</span></p>

         
    
             
              <!--     <%= image_tag project.image, class: 'img-responsive', style: "width: 100%;min-width: 280px;" %> -->
         
<br><br><br>
       <%= image_tag project.image, class: 'home_img', style: ''  %>
      

<div id="vimeo-wrap" style="padding-top:250px;">







<div class="jquery-script-clear"></div>
</div>
</div>
<div >

<div>

    <iframe id="fuckvimeo" src="https://player.vimeo.com/video/<%= project.link %>?title=0&amp;byline=0&amp;portrait=0&amp;color=f2f2ea" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    </div><br>
<br>


    <div >
<div class="col-lg-12 text-center">
<button id="start" class="btn btn-danger">Play</button>
<button class="pause" class="btn btn-danger">Pause</button>
<button id="set-volume" class="btn btn-danger">Set volume to 0.6</button>


<li><%= link_to "VIEW PROJECT CASE", project,  remote: true, class: "modal", style: "color:red;" %></li>


    <%= paginate @projects, :page_links => false, :previous_label => image_tag("icon-previous-mobile.png", id: 'control-img', class: 'control', :style => "float:left;border-style: solid;
    border-color: red;"), :next_label => image_tag("icon-next-mobile.png", id: 'control-img', class: 'control',:style => "float:right;border-style: solid;
    border-color: red;" ), remote: true %>
</div>
</div>
</div>
</div>
    


</div>
</div>
          
          
</div>



            <% end %> 
             
      </div>

     <section id="welcome">
      <h1>Independent studio crafting sound-design for Fendi, Chanel, Saint-Lauren  and <a href="/works" data-remote="true" style="word-wrap: break-word;color:white; font-family: Favorit_Regular;font-style: normal;font-stretch: normal;font-weight:100;line-height: normal;letter-spacing: normal;font-size: inherit;text-decoration:underline;">more</a>
      </h1>
    </section>



    <div style="position: fixed;
top:80%;
         
  padding-left:20%;
  padding-right:auto;
    width: 100%;
    height: 100%;
    z-index:99;"><p><span style="opacity:0.5;"><%= project.previous.title  %></span> <span> <%= project.title  %> </span>  <span style="opacity:0.5;"> <%= project.next.title  %> </span></p>
</div>
         
<br>
    <div style="position: absolute;z-index:99;">
     <%= paginate @projects, :page_links => false, :previous_label => image_tag("icon-previous-mobile.png", id: 'control-img', class: 'control', :style => "float:left;border-style: solid;
    border-color: red;"), :next_label => image_tag("icon-next-mobile.png", id: 'control-img', class: 'control',:style => "float:right;border-style: solid;
    border-color: red;" ), remote: true %>

</div>