
  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>

  <h1 style="
	font-family: Favorit, sans-serif;
	font-size: 34px;
	font-weight:300;
	line-height: 1.06;
	letter-spacing: -0.2px;
	text-align: left;">Credits: 
Producer:  Alex Murphy
Production:  John Smith
Mixing:  Steve Scooba
Mastering: 
Marsie Darthsmooth
</h1>

<div class="player">
	<div class="leftcontrol" style="float:left;">
		<%= link_to "PREVIOUS PROJECT", @project.prev %>

<%= image_tag("icon-previous-mobile.png") %>X
	</div>
	<div class="rightcontrol" style="float:right;">
<%= link_to "NEXT PROJECT", @project.next %>
<%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
</div>
</div>



class Project < ApplicationRecord


	def next
    	Project.where("id > ?", id).order(id: :asc).limit(1).first
	end

	def prev
	     Project.where("id < ?", id).order(id: :desc).limit(1).first
	end

	def to_param
		slug
	end
end


, param: :slug





<header>

  <h2 id="navleft" style="display:inline-block;margin-right:10px;font-family:Canela;font-weight: 300;">DEAD BUT COOL</h2>


<div class="menu" style="float:right;display:inline-block;font-family:Canela;">
    <h1 style="font-size:30px;cursor:pointer" onclick="openNav()" style="display:inline-block;margin-right:10px;font-family:Favorit;">MENU</h1>
  </div>

  <div id="navright" style="float:right;display:inline-block;font-family:Canela;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela;">CONTACT</a>
  </div>

</header>





<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:25px;">CLOSE</a>
  <div class="overlay-content">
    <a style="font-size:50px;" href="/works">WORKS</a>
    <a style="font-size:50px;" href="/info">INFO</a>
    <a style="font-size:50px;" href="/contact">CONTACT</a>
 
  <p id="social" style="font-color:red;text-align: center;margin-left:-10%!important;margin-top:40%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>




<script>
function openNav() {
    document.getElementById("myNav").style.display = "block";
}

function closeNav() {
    document.getElementById("myNav").style.display = "none";
}
</script>


 <div id="navright" style="float:right;display:inline-block;font-family:Canela-Light;">
    <a href="/works" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">WORKS</a>
    <a href="/info" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">INFO</a>
    <a href="/contact" style="display:inline-block;margin-right:10px;font-family:Canela-Light;">CONTACT</a>
  </div>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:25px;">CLOSE</a>
  <div class="overlay-content">
    <a style="font-size:50px;" href="/works">WORKS</a>
    <a style="font-size:50px;" href="/info">INFO</a>
    <a style="font-size:50px;" href="/contact">CONTACT</a>
 
  <p id="social" style="font-color:red;text-align: center;margin-left:-10%!important;margin-top:40%!important;">YOUTUBE FACEBOOK SOUNDCLOUD</p>
  </div>

</div>



<br>
<div id="made-in-ny"></div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var options = {
        id: 59777392,
        width: 640,
        loop: true
    };

    var player = new Vimeo.Player('made-in-ny', options);

    player.setVolume(0);

    player.on('play', function() {
        console.log('played the video!');
    });
</script>



<div class="leftcontrol" style="float:left;">
    <%= image_tag("icon-previous-mobile.png") %>X
  </div>
<div>
  
</div>
  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
  </div>
</div>


$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( "container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});




$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( "container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});


$('img').click(function()
{
     $('img').not(this, "#header").each(function()
     {
         $(this).animate({opacity: 0}, 1500);
     });
     $(this).delay( 1500 ).fadeOut(2000).$('.container').load($(this).attr('href'));
      //load html from the url and put it in the #content element
    event.preventDefault(); // 
    
})


var url = window.location.href;

// Will only work if string in href matches with location
$('.menu a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.menu a').filter(function() {
    return this.href == url;
}).addClass('better-active');




$(document).ready(function() {
   //$('#my-link').click(function(event){
  //   alert('Hooray!');
$("#my-link").click(function (event) {
    var urlid = this.id;
    alert(urlid);
     event.preventDefault(); // Prevent link from following its href
  });
});

$("#my-link").click(function (event) {
    var urlid = this.url;
    load(url);
});


$(document).ready(function(){
  $('a').on('click', function(e){
    $(this).animate({opacity: 0}, 1500);
    e.preventDefault();
    $('body').load($(this).attr('href'));
  });
});


$( "img" ).click(function() {
  $( this ).fadeOut( 1500, function() {
    $( ".container" ).fadeOut( "slow" );
$("body").fadeOut(1000);
  });
});


<script>
.player {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  grid-gap: 10px;
  margin: 0;
}
</script>
$(document).ready(function(){
  $('a').on('click', 1000, function(e){
    $(this).animate({opacity: 0}, 1500);
    e.preventDefault();
    $('body').load($(this).attr('href'));
  });
   $.ajax({
        async: true,
            // make a get request to the server
            type: 'GET',
            // get the url from the href attribute of our link
            url: $(this).attr('href'),
            // send the last id to our rails app
          
            // the response will be a script
            dataType: 'script',

            // upon success 
            success: function () {
                // hide the loading gif
                $('.loading-gif').hide();
                // show our load more link
                $('.load-more').show();
            }
        });

});
$.ajaxPrefilter(function( options, originalOptions, jqXHR ) { options.async = true; });




<%= @contact[:gen_email] %><%= @contact[:business_email]%><%= @contact[:phone]%><%= @contact[:phone]%>





<div style="display: block;">
  <div class="leftcontrol" style="float:left;">
      <%= image_tag("icon-previous-mobile.png", :style => 'float:left;width:150px;height:auto;') %>
    <%= link_to 'PREVIOUS', remote: true %>
  </div>

  <!--<div class="centercontrol" style=" display: flex;
    flex-wrap: wrap;align-content:center;">
      <%= image_tag("icon-pause-mobile.png", :style => 'width:150px;height:auto;') %>
    
  </div>-->

  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;width:150px;height:auto;") %>
     <%= link_to 'NEXT', id: 'my-link', remote: true %>
  </div>
</div>




<div style="display: block;">
  <div class="leftcontrol" style="float:left;">
      <%= image_tag("icon-previous-mobile.png", :style => 'float:left;max-width:150px;') %>
    <%= link_to @project.previous.title, @project.previous, remote: true %>
  </div>

  <div class="rightcontrol" style="float:right;">
     
    <%=image_tag("icon-next-mobile.png", :style => "float:right;max-width:150px;") %>
     <%= link_to @project.next.title, @project.next, id: 'my-link', remote: true %>
  </div>
</div>