<div id="content">


<div class="player">
	<div class="leftcontrol" style="float:left;">
		<%= link_to "PREVIOUS PROJECT", @project.prev %>

<%= image_tag("icon-previous-mobile.png") %>X
	</div>

	<div class="rightcontrol" style="float:right;">
		<%= link_to "NEXT PROJECT", @project.next %>
		<%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
	</div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

</div>