<div id="content">

<script>
.player {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  grid-gap: 10px;
  margin: 0;
}
</script>


<div class="player">
	<%= image_tag("snow.jpg", class: "project_img" )%>

	<h1><%= @project.title %></h1>

   <p>I was always somebody who felt quite sorry for myself, what I had not got compared to my friends, how much of a struggle my life seemed to be compared to others. I was caught up in a web of negativity and needed someone or something to help me to escape.<br>
   	 <p>I was always somebody who felt quite sorry for myself, what I had not got compared to my friends, how much of a struggle my life seemed to be compared to others. I was caught up in a web of negativity and needed someone or something to help me to escape.<br>

      <%= image_tag @project.image, class: 'project_img', style: 'width: 100%; height:auto;' %>


      <h1>Credits: <%= @project.credits %></h1>

  <h1><%= @project.link %></h1>


<div class="leftcontrol" style="float:left;">
		<%= image_tag("icon-previous-mobile.png") %>X
	<%= link_to @project.title, @project.prev, remote: true %></div>
<div>
  
</div>
	<div class="rightcontrol" style="float:right;">
		  <%= link_to @project.title.next, @project.next, remote: true %>
		<%=image_tag("icon-next-mobile.png", :style => "float:right;") %>
	</div>
</div>




</div>


