<!DOCTYPE html>
<html>
  <head>
    <title>DEAD BUT COOL | <%= yield(:title) %></title>
    
   <%= render 'partials/meta' %>
  </head>

  <body>
  	<%= render 'partials/header' %>


    <div id="maincontent">

        <%= yield %>

    </div>
    

    <%= render 'partials/footer' %>




<script>
  var iframe = document.querySelector('iframe');
  var player = new Vimeo.Player(iframe);
  // Execute the `play` method of the API when something with id start is clicked
  $("body").on('click', '#start', function() {
    alert('play');
    player.play();

  });
</script>
  </body>




</html>
