<!DOCTYPE html>
<html>
  <head>
    <title>DEAD BUT COOL | <%= yield(:title) %></title>
    
   <%= render 'partials/meta' %>
  </head>

  <body>
  	<%= render 'partials/header' %>


    <div id="maincontent">

        <%= yield %>

    </div>
    

    <%= render 'partials/footer' %>
  </body>
</html>
